In [2]:
import pandas as pd
from feature_selection import cor_selector, mrmr
from ml import RF, linear_regression

selection_algos = [("mrmr", mrmr), ("cor", cor_selector)]
ml_algos = [("RF", RF), ("linear_regression", linear_regression)]

train_data, test_data = [], []
fold_alloc = pd.read_csv("data/Fold_alloc.csv")
baseline = pd.read_csv("data/clinical.csv")
train_test = pd.read_csv("data/train_tests.csv")

# binarize the discharge_mRS
baseline["discharge_mRS"] = baseline.apply(lambda x: 2 if x["discharge_mRS"] >= 4 else 1 if x["discharge_mRS"] >= 2 else 0 , axis=1)

baseline.describe()

       SUBJECT_ID         Age         Sex  discharge_mRS       NIHSS
count  494.000000  494.000000  494.000000     494.000000  494.000000
mean   248.022267   70.447368    1.544534       1.471660   14.882591
std    143.559578   15.427126    0.498518       0.771058    6.594175
min      1.000000   18.000000    1.000000       0.000000    1.000000
25%    124.250000   60.250000    1.000000       1.000000   10.000000
50%    247.500000   72.000000    2.000000       2.000000   15.000000
75%    370.750000   82.750000    2.000000       2.000000   19.000000
max    499.000000  103.000000    2.000000       2.000000   33.000000

In [ ]:
K_FOLDS = 5
kfolds = [[] for i in range(K_FOLDS)]

# put each subject into a fold
for fold in fold_alloc.iterrows():
    fold = fold[1]
    kfolds[int(fold["fold"])-1].append(int(fold["ID"]))

In [ ]:

def test_combination(f, ml):
    test_res = []
    self_res = []
    for i in range(3):
        for train, test in zip(k_train, k_test):
            # append the accuracy to the results
            test, self = train_model(train, test)
            test_res.append(test)
            self_res.append(self.accuracy)